.footer {
  padding: var(--padding-content);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.625rem;
  align-self: stretch;
}

.icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}
